.header{
font-weight: bold;
}
.navBar{
    font-weight: bold;
}
.leftContent{
    font-weight: bold;
}
.mainContent{
    font-weight: bold;
}
.rightContent{
    font-weight: bold;
}
.footer{
    font-weight: bold;
}